Repository beyond-all-reason/Beyond-All-Reason, pull requests merged in 2025-01, with the labels that each got.

#3720 Smart High/low weapon selection proof of concept
  luarules/gadgets/unit_weapon_smart_select_helper.lua
  scripts/Units/armamb.bos
  scripts/Units/armamb.cob
  scripts/Units/armguard.bos
  scripts/Units/armguard.cob
  scripts/Units/armvang.bos
  scripts/Units/armvang.cob
  scripts/Units/cortoast.bos
  scripts/Units/cortoast.cob
  scripts/Units/legacluster.bos
  scripts/Units/legacluster.cob
  scripts/Units/legcluster.bos
  scripts/Units/legcluster.cob
  scripts/Units/smart_weapon_select.h
  units/ArmBuildings/LandDefenceOffence/armamb.lua
  units/ArmBuildings/LandDefenceOffence/armguard.lua
  units/ArmGantry/armvang.lua
  units/CorBuildings/LandDefenceOffence/corpun.lua
  units/CorBuildings/LandDefenceOffence/cortoast.lua
  units/Legion/Defenses/legacluster.lua
  units/Legion/Defenses/legcluster.lua
Labels: Approved

#4141 Legion T2 Vehicle Lab Model
  luaui/configs/DeferredLightsGL4config.lua
  objects3d/Units/legavp.s3o
  objects3d/Units/legavp_dead.s3o
  scripts/Units/legavp.bos
  scripts/Units/legavp.cob
  unitpics/legavp.dds
  units/Legion/Labs/legavp.lua
Labels: Legion

#4133 Legion T1 Vehicle Lab
  luaui/configs/DeferredLightsGL4config.lua
  objects3d/Units/legvp.s3o
  objects3d/Units/legvp_dead.s3o
  scripts/Units/legvp.bos
  scripts/Units/legvp.cob
  unitpics/legvp.dds
  units/Legion/Labs/legvp.lua
Labels: Legion

#4155 Legion AFUS Remodel
  gamedata/icontypes.lua
  luaui/Widgets/gfx_lupsgl4_orbs.lua
  luaui/configs/buildmenu_sorting.lua
  luaui/configs/gridmenu_layouts.lua
  objects3d/Units/legafus.s3o
  objects3d/Units/legafus_dead.s3o
  scripts/Units/legafus.bos
  scripts/Units/legafus.cob
  unitpics/legafus.dds
  units/Legion/Constructors/legaca.lua
  units/Legion/Constructors/legack.lua
  units/Legion/Constructors/legacv.lua
  units/Legion/Economy/legafus.lua
Labels: Legion

#4164 Legion T2 Mobile Radar and Radar Jammer Vehicles
  gamedata/armordefs.lua
  gamedata/icontypes.lua
  language/en/units.json
  luaui/configs/DeferredLightsGL4config.lua
  luaui/configs/buildmenu_sorting.lua
  luaui/configs/gridmenu_layouts.lua
  objects3d/Units/legavjam.s3o
  objects3d/Units/legavjam_dead.s3o
  objects3d/Units/legavrad.s3o
  objects3d/Units/legavrad_dead.s3o
  scripts/Units/armseer_clean.bos
  scripts/Units/legavjam.bos
  scripts/Units/legavjam.cob
  scripts/Units/legavp.bos
  scripts/Units/legavp.cob
  scripts/Units/legavrad.bos
  scripts/Units/legavrad.cob
  unitpics/legavjam.dds
  unitpics/legavrad.dds
  unitpics/legvp.dds
  units/Legion/Labs/legavp.lua
  units/Legion/Vehicles/T2 Vehicles/legavjam.lua
  units/Legion/Vehicles/T2 Vehicles/legavrad.lua
Labels: Legion

#4166 Legion T2 Mobile Radar/Jammer Veh Name Update
  language/en/units.json
Labels: Legion

#4169 Legion Hovercraft Plant Remodel
  language/en/units.json
  luaui/configs/DeferredLightsGL4config.lua
  objects3d/Units/leghp.s3o
  objects3d/Units/leghp_dead.s3o
  scripts/Units/leghp.bos
  scripts/Units/leghp.cob
  unitpics/leghp.dds
  units/Legion/Hovercraft/legah.lua
  units/Legion/Hovercraft/legmh.lua
  units/Legion/Labs/leghp.lua
  units/legassistdrone_land.lua
Labels: Legion

#4075 Minor Legion Model Fixes*
  objects3d/Units/legbar.s3o
  objects3d/Units/legbar_dead.s3o
  objects3d/Units/legrail.s3o
  objects3d/Units/legrail_dead.s3o
  scripts/Units/leghelios.bos
  scripts/Units/leghelios.cob
Labels: Legion

#4216 Auto Trajectory Patch 6
  luarules/gadgets/unit_weapon_smart_select_helper.lua
Labels: Bug

#4232 Optimize sector_fire custom weapons behavior gadget entry
  luarules/gadgets/unit_custom_weapons_behaviours.lua
Labels: Gadget

#4226 Shields Re-Rework Buff Shield Capacity
  gamedata/alldefs_post.lua
Labels: Bug, Approved
